<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weitan.projectmega">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GoogleSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".activity.GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />
            -->
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.Menu" />
        <activity android:name=".activity.Profile" />
        <activity android:name=".activity.reminder_set" />
        <activity android:name=".activity.schedule_plan" />
        <activity android:name=".activity.sign_up2" />
        <activity android:name=".activity.video_demo" />
        <activity android:name=".activity.exercise_result1" />
        <activity
            android:name=".activity.video_demo2"
            android:label="@string/title_activity_video_demo2"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.BaseActivity"></activity>
    </application>

</manifest>